body {

  background-color: whitesmoke;
}

.bg-img {
  /* The image used */
  background-image: url("images/pic1.jpeg");

  min-height: 380px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50% 50%;

  /* Needed to position the navbar */
  position: relative;
}

/* Position the navbar container inside the image */
.container {
   width: 150px;
   height: 100px;
  position: top;
  margin: inherit;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50% 50%;

}

/* The navbar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
.topnav a {
  
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

* The sidebar menu */. .sidebar {
  margin: 0;
  padding: 10%;
  width: 100%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}


.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}


.sidebar a.active {
  background-color: #4CAF50;
  color: white;
}


.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 100%;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .sidebar a {
    float: left;
  }

  div.content {
    margin-left: 0;
  }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
 .responsive{
  width: 100%;
  padding: 15px 5px 15px 20 px ;
  height: auto;
 }
.content {
  text-align: center;
  font-size: larger;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.main {
  text-align: center;
}

.strong {
  text-align: center;
  font-size: larger;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  body {
    background-color: black;
    color: white;
  }
}

@media screen and (min-width: 768px) {
  body {
    background-color: rgb(175, 209, 218);
  }
}

ol {
  text-align: center;
  list-style-type: none;
}

footer {
  background-color: darkblue;
  text-align: justify;
  color: crimson;
  font-size: x-large;
  font-weight: bold;
  font-style: italic;
}