body {

  background-color: whitesmoke;
}

.bg-img {
  /* The image used */
  background-image: url("images/pic1.jpeg");

  min-height: 380px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50% 50%;

  /* Needed to position the navbar */
  position: relative;
}

/* Position the navbar container inside the image */
.container {
 
  position: top;
  margin: inherit;
  

}

/* The navbar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
.topnav a {
  
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}


 .responsive{
  width: 100%;
  padding: 15px 5px 15px 20 px ;
  
 }
.content {
  text-align: center;
  font-size: larger;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.main {
  text-align: center;
}

.strong {
  text-align: center;
  font-size: larger;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  body {
    background-color: black;
    color: white;
  }
}

@media screen and (min-width: 768px) {
  body {
    background-color: rgb(175, 209, 218);
  }
}

ol {
  text-align: center;
  list-style-type: none;
}

footer {
  background-color: darkblue;
  text-align: justify;
  color: crimson;
  font-size: x-large;
  font-weight: bold;
  font-style: italic;
}